html {
    background-color: #D8DEE9b3 !important;
}

html.dark {
    background-color: #292E39 !important;
    color: #ECEFF4 !important;
}

body.dark {
    background-color: #292E39 !important;
    color: #ECEFF4 !important;
}

div {
    color: #3B4252 
}

div.dark {
    color: #ECEFF4 !important;
}

a:visited h3 div {
    color: #A3BE8C !important;
}

a:link h3 div {
    color: #4C566A !important;
}

a:link div {
    color: #81a1c1 !important;
}

div span {
    color: #3B4252;
}

input {
    background-color: #f9fafb !important;
    color: #3B4252 !important;
}

#search-bar {
    color: #4C566A !important;
    background-color: #ffffff ;
}

footer {
    background-color: #ECEFF4 !important;
    color: #3B4252;
}

footer.dark {
    background-color: #ECEFF4 !important;
    color: #3B4252;
} 

.reskin {
    background-color: #292E39;
    color: #ECEFF4;
}

.reskin-dark {
    background-color: #2E3440;
    color: #ECEFF4;
}