venv/
.venv/
.idea/
__pycache__/
*.pyc
*.pem
*.conf
*.key
config.json
test/static
flask_session/
app/static/config
app/static/custom_config
app/static/bangs/*
!app/static/bangs/00-whoogle.json

# pip stuff
/build/
dist/
*.egg-info/

# env
whoogle.env

# vim
*~
*.swp
