language = "bash"
run = "kill $(lsof -t -i:5000) > /dev/null 2>&1; pip install -r requirements.txt && ./run"
onBoot = "kill $(lsof -t -i:5000) > /dev/null 2>&1; pip install -r requirements.txt && ./run"
