attrs==23.1.0
beautifulsoup4==4.12.2
brotli==1.0.9
cachelib==0.10.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
click==8.1.3
cryptography==41.0.1; platform_machine == 'armv7l'
cryptography==41.0.1; platform_machine != 'armv7l'
cssutils==2.7.1
defusedxml==0.7.1
Flask==2.3.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
more-itertools==9.1.0
packaging==23.1
pluggy==1.0.0
pycodestyle==2.10.0
pycparser==2.21
pyOpenSSL==23.2.0; platform_machine == 'armv7l'
pyOpenSSL==23.2.0; platform_machine != 'armv7l'
pyparsing==3.1.0
PySocks==1.7.1
pytest==7.3.2
python-dateutil==2.8.2
requests==2.31.0
soupsieve==2.4.1
stem==1.8.2
urllib3==2.0.3
waitress==2.1.2
wcwidth==0.2.6
Werkzeug==2.3.6
python-dotenv==1.0.0
