html {
    background-color: #000 !important;
}

body {
    background-color: #222 !important;
}

div {
    /*background-color: #111 !important;*/
    color: #fff !important;
}

a:visited h3 div {
    color: #bbbbff !important;
}

a:link h3 div {
    color: #4b8eea !important;
}

a:link div {
    color: #aaffaa !important;
}

div span {
    color: #bbb !important;
}

input {
    background-color: #111 !important;
    color: #fff !important;
}

#search-bar {
    color: #fff !important;
    background-color: #000 !important;
}

.search-container {
    background-color: #000 !important;
}
