<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
<footer>
    <p class="footer">
        Whoogle Search v{{ version_number }} ||
        <a id="gh-link" href="https://github.com/benbusby/whoogle-search">{{ translation['github-link'] }}</a>
        {% if newest_version != version_number %}
             || <span class="update_available">Update Available <i class="far fa-arrow-alt-circle-up"></i></span>
        {% endif %}
    </p>
</footer>