{% if mobile %}
    <header>
        <div class="bz1lBb header-div">
            <form class="search-form Pg70bf"
                id="search-form"
                method="{{ 'GET' if config.get_only else 'POST' }}">
                <a class="logo-link mobile-logo" href="/">
                    <div id="mobile-header-logo">
                        {{ logo|safe }}
                    </div>
                </a>
                <div class="H0PQec mobile-input-div">
                    <div class="sbc esbc autocomplete">
                        <input 
                            id="search-bar" 
                            class="mobile-search-bar"
                            autocapitalize="none" 
                            autocomplete="off" 
                            autocorrect="off"
                            spellcheck="false" 
                            class="noHIxc" 
                            name="q"
                            type="text" 
                            value="{{ clean_query(query) }}"
                            dir="auto">
                        <input id="search-reset" type="reset" value="x">
                        <input name="tbm" value="{{ search_type }}" style="display: none">
                        <input type="submit" style="display: none;">
                        <div class="sc"></div>
                    </div>
                </div>
            </form>
        </div>
    </header>
{% else %}
    <header>
        <div class="logo-div">
            <a class="logo-link" href="/">
                <div class="desktop-header-logo">
                    {{ logo|safe }}
                </div>
            </a>
        </div>
        <div class="search-div">
            <form id="search-form"
                class="search-form"
                id="sf"
                method="{{ 'GET' if config.get_only else 'POST' }}">
                <div class="autocomplete header-autocomplete">
                    <div style="width: 100%; display: flex">
                        <input 
                            id="search-bar" 
                            autocapitalize="none" 
                            autocomplete="off" 
                            autocorrect="off"
                            class="search-bar-desktop noHIxc" 
                            name="q"
                            spellcheck="false"
                            type="text"
                            value="{{ clean_query(query) }}"
                            dir="auto">
                        <input name="tbm" value="{{ search_type }}" style="display: none">
                        <input type="submit" style="display: none;">
                        <div class="sc"></div>
                    </div>
                </div>
            </form>
        </div>
    </header>
{% endif %}

<script type="text/javascript" src="{{ cb_url('header.js') }}"></script>
