
<link rel="search" href="/static/opensearch.xml" type="application/opensearchdescription+xml" title="Bloogle Search">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/js/controller.js"></script>
<link rel="stylesheet" href="/static/css/main.css">

<div class="search-container">
    <img class="logo" src="/static/img/logo.png">
    <div class="search-fields">
        <input type="text" id="search-bar">
        <button type="submit" id="search-submit">Search</button>
    </div>
</div>
