<form id="search-form" action="search" method="post">
    <input
            type="text"
            name="q"
            style="width: 84%;"
            autofocus="autofocus"
            autocapitalize="none"
            spellcheck="false"
            autocorrect="off"
            placeholder="Whoogle Search"
            autocomplete="off"
            dir="auto">
<button type="button" id="speech-to-text-btn" class="speech-to-text-btn">🎙️</button>
    <input type="submit" style="width: 8%" id="search-submit" value="Search">
</form>
